#title {
    font-size: 64px; 
    text-align: center;
    font-weight: 600;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#add-book-button, button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
}